@import "../libs/color.scss";

.card{
    .card-body{
        .row{

            .col-md-6{
                .count-number{
                    .compare{
                        .sub-percent {
                            .sub-number{
                                .icon {
                                    left: 34%;
                                }    
                            }
                        }
                    }
                }
            }

            .col-md-12{
                .count-number{
                    .compare{
                        .sub-compare {
                            right: 31%;
                        }
                        .sub-percent {
                            left: 40%;
                            .sub-number{
                                .icon {
                                    left: 43%;
                                }    
                            }
                        }
                    }
                }

                
            }

            .add-margin{
                margin-top: 40px;
            }
            .count-title{
                margin-bottom : 15px;
                font-size: 17px;
                span{
                    width: 100%;
                    display: block;
                }
            }
            .count-number{
                font-size: 46px;
                
                .compare {
                    font-size: 12px;
                    color: $light-gray;
                    margin-top: 13px;

                    .sub-compare {
                        position: relative;
                        right: 22%;
                        padding-right: 22%;
                        top: 3%;
                        
                        .sub-number {
                            display: block;
                            font-size: 17px;
                        }
                    
                    }

                    .sub-percent {
                        position: relative;
                        left: 30%;

                        .sub-number{
                            width: 100%;
                            display: block;
                            font-size: 17px;
                            
                            &.red{
                                color:$light-red;
                            }
    
                            &.green{
                                color:$light-green
                            }
    
                            .icon {
                                float: left;
                                position: absolute;
                                font-size: 23px;
                                left: 24%;
                                top: -3px;
                            }
                            
                        }
                    }
                    
                }
            }
        }
    }
}